@charset "utf-8";

#navi{
    width:800px;
    height: 130px;
    border: 1px black solid;
}
#logo{
    width:150px;
    height:100px;
    position: absolute;
    border: 1px black solid;
    margin-left: 10px;
    margin-top: 10px;
}
#loginInfo{
    float:right;
    height:30px;
    line-height:150%;
}
#naviMenu{
    bottom: 0px;
    height: 45px;
    margin-top:95px;
    margin-right:-100px;
    float:right;
    width: 600px;
}
#naviMenu li{
    float: left;
    height: 30px;
    width: 100px;
}