@charset "utf-8";
/*
	@名称: index.css
	@功能: index.jsp的样式
*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, select, option, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
dl, ol, dt, dd, ul, li, form, h1, h2, h3, h4, h5, h6 {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

#bodyContent {
    width:800px;
    margin-left: auto;
    margin-right: auto;
    height:1%;
    overflow: auto;
    overflow-x: hidden;
    border: 1px red solid;
    margin-top: -2px;
    padding: 0px 15px 15px 15px;
}

#content {
    width: 800px;
    height: 1%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: 1px black solid;
}

#main {
    width: 500px;
    height: auto;
    border: 1px black solid;
    float: right;
}

#fastFunction {
    width: 500px;
    height: 300px;
    border: 1px black solid;
}
#makeorder {
    width: 800px;
    height: 500px;
    border: 2px black solid;
}
.fastSearchDiv span{
    float:left;
}
.fastSearchDiv .sleft{
    background: url(../images/ts-indexsleft.gif);
    display: block;
    height: 172px;
    width: 17px;
}
.fastSearchDiv .scenter {
    background: url(../images/ts-indexscenter.gif);
    display: block;
    height: 167px;
    padding-top: 5px;
    width: 189px;
}
.fastSearchDiv .sright {
    background: url(../images/ts-indexsright.gif);
    display: block;
    height: 172px;
    width: 14px;
}
.fastSearchDiv .sbottom {
    background: url(../images/ts-indexbottom.gif) no-repeat 50% 0%;
    display: block;
    height: 9px;
    width: 218px;
}
.fastSearchDiv h2 {
    color: #3F3B67;
    font-size: 14px;
    margin-top:2px;
}