@charset "utf-8";

#siderBar {
    width: 250px;
    height: auto;
    float: left;
    border: 1px black solid;
}
.sideDiv h3{
    background: url(../images/bg-commonQ.png) no-repeat;
    color: white;
    font-size: 14px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin-bottom: 10px;
    padding-left: 10px;
    text-align: left;
}

#login {
    width: 220px;
    height: 200px;
    border: 1px black solid;
    background-color: #f8f8f8;
    padding: 10px 10px 10px 10px;
}
#userLogin{
    width: 220px;
    height: 150px;
    border: 1px black solid;
    margin-left:5px;
    margin-top:15px;
    background-color: #f8f8f8;
}
#userLogin input{
    width:200px;
    margin-top:5px;
}
#userLogin .submit_button{
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    height: 32px;
    line-height: 32px;
    margin-left: 56px;
    margin-top: 15px;
    width: 102px;
}   
#fastLeader {
    width: 220px;
    height: 220px;
    margin-top:30px;
    border: 1px black solid;
    background-color: #f8f8f8;
    padding: 10px 10px 10px 10px;
}
#fastLeader ul{
    margin-top:10px;
    -webkit-padding-start: 40px;
    display: block;
}
#fastLeader li{
    line-height:200%;
}
#fastLeader a{
    color: #777;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    text-align: left;
    text-decoration: none;
}
